@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Subir Archivos</h1>
    <div class="row">
        <section class="col-6">
            <form method="post" enctype="multipart/form-data"
                  asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Subir Reporte</p>
                        <input type="file" name="files" multiple />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Enviar" />
                    </div>
                </div>
            </form>
        </section>
    </div>
    <span style="color:green">@Html.Raw(ViewBag.Message)</span>

    <hr />

    <h1>Chat</h1>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

</div>